{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<title>{% block title %}Le Paradis français{% endblock %}</title>
   		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
   		<script type="text/javascript" src="{{ STATIC_URL}}js/jquery-1.7.1.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		<link type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.8.17.custom.css" rel="Stylesheet" />
		{% block include %}
		
		{% endblock %}
		
		{% block resources %}
		
		{% endblock %}
		
	</head>
	<body>
		<div id="header">
		{% block header %}
			<div id="banner">
				<div id="title">Le Paradis Fran&ccedil;ais</div>
			</div>
			<ul id="menu">
				<li {% block header-curview-home %}{% endblock %}><a href="{% url Home %}">{% trans "Home" %}</a></li>
				<li {% block header-curview-list %}{% endblock %}><a href="{% url List %}">{% trans "Menu" %}</a></li>
				<li {% block header-curview-contact %}{% endblock %}><a href="{% url Contact %}">{% trans "Contact" %}</a></li>
				<li {% block header-curview-info %}{% endblock %}><a href="{% url About %}">{% trans "About Us" %}</a></li>
			</ul>
		{% endblock %}
		</div>
		<div id="content">
		{% block content %}					

		{% endblock %}
		</div>
	</body>		
</html>