{% extends "base.html" %}
{% load i18n %}

{% block header-curview-info %}class="selected"{% endblock %}

{% block content %}
<div id="about-us" class="styled_box">
<h1>{% trans "The restaurant" %}</h1>

<p>
{% blocktrans %}
		Walk in the restaurant "Le Paradis Français" et embrace the friendly
	and calming atmosphere there is. With its elegant and refined design,
	this place is a house of heavenly peace. On the menu, you'll find
	traditional French cuisine prepared by our experienced Chef. You'll
	also find some delicious "Auvergnate" specialties. When the sun comes
	out, you'll be able to enjoy all your favorite specialties on our
	deck. We also allow people to rent the restaurant for any private
	events. A place that every amateur of tasty food definitely has to go
	to. Let your friends know.
{% endblocktrans %}
</p>

<h1>{% trans "The employees" %}</h1>
<p>
{% blocktrans %}
		Your satisfaction ... a teamwork. The preparation of all our dishes is
	guaranteed by a team of chef known as: The brigade. This team
	organizes the restaurant in order for the clients to have the best
	experience possible incorporating elegance, class and , of course
	tasty food.
{% endblocktrans %}
</p>
<h1>{% trans "Tourism" %}</h1>

<h2>{% trans "Grenoble" %}</h2>
<p>
{% blocktrans %}
		Surrounded by the Vercors, Chartreuse and the Belledonne mountain
	chain, Grenoble benefits an incredible landscape as Stendhal was
	saying about his native town: "At the end of every avenue, a
	mountain".
{% endblocktrans %}
</p>
 
<h2>{% trans "La Bastille" %}</h2>
<p>
{% blocktrans %}
		« I haven't the strength to describe the admirable view, which changes
	every hundred steps, that one enjoys from the Bastille... » It is with
	these words that Stendhal paid hommage to the site.
	The Bastille is visited by some 600,000 people each year,
	approximately half of whom take the cable car from the city centre.
	The rest of the visitors go by car up the steep and narrow road from
	La Tronche, or on foot by one of the numerous signposted paths to
	reach the Bastille.
	In 2005 the Bastille underwent substantial works in order to make the
	entirety of the site accessible to persons of reduced mobility. It is
	the setting for numerous exhibitions and social and cultural events,
	while also being the destination of an annual cycle race (La Prise De
	La Bastille) and a via ferrata (Les Prises De La Bastille).
	To do: Hike to the fortress deck to have a great view on the city
{% endblocktrans %}
</p>
<h2>{% trans "Le Jardin de ville" %}</h2>
<p>
{% blocktrans %}
		At the center of the city, that green garden is a heavenly place for
	anyone searching calm and tranquility. There is numerous benches to
	benefit the shadows of very old trees while downhill you'll find
	square parks to enjoy. Nearby there is also a playground for your
	kids, a music kiosk dated from in between the world wars used for
	various celebrations. This garden was built in 1622 by "le Connétable
	de Lesdiquières". in order to get there from Place Grenette you'll
	have to pass under a small porch taking you in front of a bronze
	statue called Fontaine du Torrent.
{% endblocktrans %}
</p>
<h2>{% trans "Place Grenette" %}</h2>
<p>
{% blocktrans %}
		In middle age, this place was a land used for cereals and gave it its
	name. Right in the middle of the city's historical center it later
	became a walk only street filled with café's and restaurant's decks
	transformed into a winter market as the snow starts to fall on the
	city.
	To see: La fontaine aux dauphins (or lavalette) built in 1824
{% endblocktrans %}
</p>
{% endblock %}