{% extends "base.html" %}
{% load i18n %}

{% block header-curview-home %}class="selected"{% endblock %}

{% block content %}
	Accueil content
	
{% endblock %}

<div id="home-articles">

</div>
<div id="home-reservations">
	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}
	{% if reservation_form.errors %}
		<p style="color: red;">
		    Please correct the error{{ form.errors|pluralize }} below.
		</p>
	{% endif %}
	<form id='reservation' action="{{ request.path }}" method="POST">
    	{% csrf_token %}
	<table>
	    {{ reservation_form.as_table }}
	</table>
	<input type="submit" value="Submit">
</div>
{% endblock %}

