{% extends "base.html" %}
{% load i18n %}

{% block header-curview-list %}class="selected"{% endblock %}

{% block content %}
<div id="list" class="styled_box">
	<h1>Menus</h1>
	<div id="menus">
	{% for menu in menus %}
		<h2>
		{% if not menu.name %}
			{% blocktrans with price=menu.price %}Menu at {{ price }}&euro;{% endblocktrans %}
		{% else %}
			{{ menu.name }}
		{% endif %}
		</h2>
		<div class="menu-text">{{ menu.text|safe }}</div>
		{% if menu.name %}
			<h4>{{ menu.price }}&euro;</h4>
		{% endif %}
	{% endfor %}
	</div>
	<hr />
	<h1>Carte</h1>
	<div id="carte">
		{% if starters %}
			<h2>{% trans "Starters" %}</h2>
			<div id="starters">
			{% for starter in starters %}
				<p class="carte-elem">{{ starter.name }} - <span class="price">{{ starter.price }}&euro;</span></p>
			{% endfor %}
			</div>
		{% endif %}

		{% if meats %}
			<h2>{% trans "Meats" %}</h2>
			<div id="meats">
			{% for meat in meats %}
				<p class="carte-elem">{{ meat.name }} - <span class="price">{{ meat.price }}&euro;</span></p>
			{% endfor %}
			</div>
		{% endif %}

		{% if desserts %}
			<h2>{% trans "Desserts" %}</h2>
			<div id="desserts">
			{% for dessert in desserts %}
				<p class="carte-elem">{{ dessert.name }} - <span class="price">{{ dessert.price }}&euro;</span></p>
			{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}